# --- 数据库配置信息 ---
HOST = "127.0.0.1"
PORT = 3306
USR = "root"
PASSWORD = "你的密码"
DATABASE = "你的数据库名"
CHARSET = "utf8mb4"

# --- 爬虫配置信息 ---
CRAWLER_MAX_WORKERS = 10
CRAWLER_TIMEOUT = 10

# --- Google Play Url 配置 ---
GOOGLE_URL = https://play.google.com/store/apps/details?id={0}&hl={2}&gl={1}

# --- Apple Store Url 配置 ---
APPLE_URL = https://apps.apple.com/{1}/app/id{0}?l={2}